<!DOCTYPE html>
<html lang="id">
  <head>
    <title>BINA AKRAB TIF'19 - UNKRISWINA SUMBA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url"          content="https://binaakrabtifunkriswina2k19.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:site_name" content="binaakrabtifunkriswina2k19.herokuapp.com">
    <meta property="og:title"         content="Bina Akrab TIF'19 UNKRISWINA SUMBA" />
    <meta property="og:description"   content="Dokumentasi Bina Akrab Teknik Informatika 2019 UNKRISWINA SUMBA" />
    <meta property="og:image" content="https://binaakrabtifunkriswina2k19.herokuapp.com/img/bina-akrab.jpg">
    <meta name="author" content="UNKRISWINA SUMBA INFORMERS">
    <meta property="language" content="Indonesia">
    <meta content='Galeri Bina Akrab Teknik Informatika UNKRISWINA SUMBA 2019' name='keywords'/>    
  
 

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">   
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/lightgallery.min.css">    
    
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    
    <link rel="stylesheet" href="css/swiper.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    




   <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="/" class="text-black h2 mb-0">BinaAkrab TIF'19 UNKRISWINA SUMBA</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="/">Home</a></li>
                <li class="has-children">
                  <a href="#">Galeri</a>
                  <ul class="dropdown">
                    <li><a href="/galeri/perwalian-pak-jefonses">Perwalian Pak Jefonses</a></li>
                    <li><a href="/galeri/perwalian-pak-pingky">Perwalian Pak Pingky</a></li>
                    <li><a href="/galeri/perwalian-pak-ian">Perwalian Pak Ian</a></li>
                    <li><a href="/galeri/perwalian-pak-fajar">Perwalian Pak Fajar</a></li>
                    <li><a href="/galeri/perwalian-pak-alan">Perwalian Pak Alan</a></li>
                    <li><a href="/galeri/perwalian-ibu-arini">Perwalian Ibu Arini</a></li>
                    <li><a href="/galeri/perwalian-ibu-yustina">Perwalian Ibu Yustina</a></li>
                    <li><a href="/galeri/perwalian-ibu-mea">Perwalian Ibu Mea</a></li>
                    <li><a href="/galeri/perwalian-ibu-desy">Perwalian Ibu Desy</a></li>
                    <li><a href="/galeri/all-game">Games</a></li>
                    <li><a href="/galeri/other-images">Lain-lain</a></li>
                  </ul>
                </li>
                <li><a href="/agenda">Agenda</a></li>
                <li><a href="/daftar-panitia">Panitia</a></li>
                <li class="active"><a href="/about">Tentang Bina Akrab TIF'19</a></li>
                <li><a href="/contact">Kontak</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="https://www.facebook.com/infoprom.unkriswina" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/unkriswina_sumba_timur/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCDt7aHjK2SpQT0-TDYgaemQ" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>




  <div class=""  data-aos="fade">
    <div class="container-fluid">
      
      <div class="row justify-content-center">
        <div class="col-md-7">
          <div class="row mb-5 site-section">
            <div class="col-12 ">
              <h2 class="site-section-heading text-center">Tentang Bina Akrap</h2>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-7">
              <img src="img/bina-akrab-sampul.jpg" alt="Images" class="img-fluid">
            </div>
            <div class="col-md-7">
              <img src="img/bina-akrab.jpg" alt="Images" class="img-fluid">
            </div>
            <div class="col-md-4 ml-auto">
              <h3>Tujuan Bina Akrab</h3>
              <p>Menjalani keakraban antar angkatan terkhusus angkatan 2019 yang baru saja masuk ke dalam Prodi Teknik Informatika di UNKRISWINA SUMBA dan mengenal dosen-dosen secara umum terkhususnya dosen wali. </p>
              <p>Meningkatkan rasa persaudaraan antar letting, dan juga agar semua dapat saling mengenal satu sama lain, membina keakraban antar senior, junior dan dosen. Yang paling penting adalah membentuk karakter mahasiswa baru (MABA) dari siswa menjadi mahasiswa.</p>
            </div>
            
          </div>
          
          <div class="row mb-5">
            <div class="col-md-12">
              <div id="lightgallery8">
                 <a href="img/panitia-bina-akrab-tif-2019.jpg">
                   <img src="/img/panitia-bina-akrab-tif-2019.jpg" alt="Panitia Bina Akrab Teknik Informatika 2019" class="img-fluid mb-4" data-src="img/panitia-bina-akrab-tif-2019.jpg">
                </a>
              </div>              
            </div>
            <div class="col-md-12">
              <blockquote class="blockquote">
                <p class="mb-0 text-center display-4"><q>Tanamkan Persatuan Pupuk Kerbersamaan Hasilkan Persaudaraan</q></p>
              </blockquote>                          
            </div>
          </div>
         
          <div class="row site-section">
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <div id="lightgallery9">
                 <a href="/img/dosen/jefonses.jpg">
                   <img src="/img/dosen/jefonses.jpg" alt="JEFONSES YARSIAN POTE, S.KOM., M.Kom" class="img-fluid w-50 rounded-circle mb-4" data-src="/img/dosen/jefonses.jpg">
                </a>
              </div>
              <h2 class="text-black font-weight-light mb-4">JEFONSES POTE</h2>
              <p class="mb-4">Perkenalkan nama saya JEFONSES YARSIAN POTE, S.KOM., M.Kom Saya adalah seorang dosen prodi Teknik Informatika di UNKRSIWINA SUMBA. Bidang Keahlian Saya mengenai Pemprograman Web.</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <div id="lightgallery10">
                 <a href="/img/dosen/yeti.jpg"> 
                   <img src="/img/dosen/yeti.jpg" alt="RAMBU YETTI KALAWAY, S.T., M.T., M.M" class="img-fluid w-50 rounded-circle mb-4" data-src="/img/dosen/yeti.jpg">
                </a>
              </div>
              <h2 class="text-black font-weight-light mb-4">RAMBU YETTI</h2>
              <p class="mb-4">Perkenalkan nama saya RAMBU YETTI KALAWAY, S.T., M.T., M.M Saya adalah seorang dosen prodi Teknik Informatika di UNKRISWINA SUMBA.</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>            
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <div id="lightgallery">
                 <a href="/img/dosen/pinky.JPG">
                   <img src="/img/dosen/pinky.JPG" alt="PINGKY A. R. LEO LEDE, S.Kom., M.Cs" class="img-fluid w-50 rounded-circle mb-4" data-src="/img/dosen/pinky.JPG">
                </a>
              </div>
              <h2 class="text-black font-weight-light mb-4">PINGKY LEDE</h2>
              <p class="mb-4">Perkenalkan nama saya PINGKY A. R. LEO LEDE, S.Kom., M.Cs Saya adalah seorang dosen prodi Teknik Informatika di UNKRISWINA SUMBA. Bidang Keahlian Saya Mengenai Kecerdasan Buatan.</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="https://www.facebook.com/pingky.leo.lede" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <div id="lightgallery2">
                 <a href="/img/dosen/ian.JPG">
                   <img src="/img/dosen/ian.JPG" alt="ALFRIAN CARMEN TALKUA, S.Si,. M.Kom" class="img-fluid w-50 rounded-circle mb-4" data-src="/img/dosen/ian.JPG">
                </a>
              </div>
              <h2 class="text-black font-weight-light mb-4">ALFRIAN TALKUA</h2>
              <p class="mb-4">Perkenalkan nama saya ALFRIAN CARMEN TALKUA, S.Si,. M.Kom Saya adalah seorang dosen prodi Teknik Informatika di UNKRISWINA SUMBA. Bidang keahlian saya mengenai data analisis.</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <div id="lightgallery3">
                 <a href="/img/dosen/alan_lier.JPG">
                   <img src="/img/dosen/alan_lier.JPG" alt="HERRY CHRISTY ALLAN LEWIER, S.Kom, M.Kom" class="img-fluid w-50 rounded-circle mb-4" data-src="/img/dosen/alan_lier.JPG">
                </a>
              </div>
              <h2 class="text-black font-weight-light mb-4">HERRY LEWIER</h2>
              <p class="mb-4">Perkenalkan nama saya HERRY CHRISTY ALLAN LEWIER, S.Kom, M.Kom Saya adalah seorang dosen prodi Teknik Informatika di UNKRISWINA SUMBA. Bidang saya mengenai Web Development. Saya sangat menyukai Teknologi REACT.</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <div id="lightgallery4">
                 <a href="/img/dosen/fajar.JPG">
                   <img src="/img/dosen/fajar.JPG" alt="FAJAR HARIADI S.T., M.T" class="img-fluid w-50 rounded-circle mb-4" data-src="/img/dosen/fajar.JPG">
                </a>
              </div>
              <h2 class="text-black font-weight-light mb-4">FAJAR HARIADI</h2>
              <p class="mb-4">Perkenalkan nama saya FAJAR HARIADI S.T., M.T Saya adalah seorang dosen prodi Teknik Informatika di UNKRISWINA SUMBA. Bidang keahlian saya mengenai Pembuatan Game.</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>  
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <div id="lightgallery5">
                 <a href="img/dosen/yustina.JPG">
                   <img src="img/dosen/yustina.JPG" alt="YUSTINA RADA, S.Kom., M.T." class="img-fluid w-50 rounded-circle mb-4" data-src="img/dosen/yustina.JPG">
                </a>
              </div>
              <h2 class="text-black font-weight-light mb-4">YUSTINA RADA</h2>
              <p class="mb-4">Perkenalkan nama saya YUSTINA RADA, S.Kom., M.T. Saya adalah seorang dosen prodi Teknik Informatika di UNKRISWINA SUMBA.</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <div id="lightgallery6">
                 <a href="/img/dosen/arini.JPG">
                   <img src="/img/dosen/arini.JPG" alt="ARINI AHA PEKUWALI, S.Kom., M.Kom" class="img-fluid w-50 rounded-circle mb-4" data-src="/img/dosen/arini.JPG">
                </a>
              </div>
              <h2 class="text-black font-weight-light mb-4">ARINI AHA PEKUWALI</h2>
              <p class="mb-4">Perkenalkan nama saya ARINI AHA PEKUWALI, S.Kom., M.Kom. Saya adalah seorang dosen prodi Teknik Informatika di UNKRISWINA SUMBA. Bidang keahlian saya mengenai Machine Learning.</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <div id="lightgallery11">
                 <a href="/img/dosen/desy.JPG">
                   <img src="/img/dosen/desy.JPG" alt="DESY ASNATH SITANIAPESSY, S.Si(Teol)., M.Si" class="img-fluid w-50 rounded-circle mb-4" data-src="/img/dosen/desy.JPG">
                </a>
              </div>
              <h2 class="text-black font-weight-light mb-4">DESY ASNATH SITANIAPESSY</h2>
              <p class="mb-4">Perkenalkan nama saya DESY ASNATH SITANIAPESSY, S.Si(Teol)., M.Si Saya adalah seorang dosen prodi Teknik Informatika di UNKRISWINA SUMBA.</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <div id="lightgallery12">
                 <a href="/img/dosen/mae.JPG">
                   <img src="/img/dosen/mae.JPG" alt="RAYNESTA MIKAELA INDRI MALO, S.S, M.HUM" class="img-fluid w-50 rounded-circle mb-4" data-src="/img/dosen/mae.JPG">
                </a>
              </div>
              <h2 class="text-black font-weight-light mb-4">RAYNESTA MIKAELA INDRI MALO</h2>
              <p class="mb-4">Perkenalkan nama saya RAYNESTA MIKAELA INDRI MALO, S.S, M.HUM Saya adalah seorang dosen prodi Teknik Informatika di UNKRISWINA SUMBA.</p>
              <p>
                <a href="#" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
              </p>
            </div>



          </div>
        </div>
    
      </div>
    </div>
  </div>

  <div class="footer py-4 text-center">
    <div class="container-fluid">
      <p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a><strong> Develop by UNKRISWINA SUMBA INFORMERS</strong>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>



    

    
    
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/picturefill.min.js"></script>
  <script src="js/lightgallery-all.min.js"></script>
  <script src="js/jquery.mousewheel.min.js"></script>

  <script src="js/main.js"></script>
  
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
      $('#lightgallery2').lightGallery();
      $('#lightgallery3').lightGallery();
      $('#lightgallery4').lightGallery();
      $('#lightgallery5').lightGallery();
      $('#lightgallery6').lightGallery();
      $('#lightgallery7').lightGallery();
      $('#lightgallery8').lightGallery();
      $('#lightgallery9').lightGallery();
      $('#lightgallery10').lightGallery();
      $('#lightgallery11').lightGallery();
      $('#lightgallery12').lightGallery();
    });
  </script>
    
  </body>
</html>