  <!DOCTYPE html>
<html lang="id">
  <head>
    <title>BINA AKRAB TIF'19 - UNKRISWINA SUMBA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:url"          content="https://binaakrabtifunkriswina2k19.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:site_name" content="binaakrabtifunkriswina2k19.herokuapp.com">
    <meta property="og:title"         content="Bina Akrab TIF'19 UNKRISWINA SUMBA" />
    <meta property="og:description"   content="Dokumentasi Bina Akrab Teknik Informatika 2019 UNKRISWINA SUMBA" />
    <meta property="og:image" content="https://binaakrabtifunkriswina2k19.herokuapp.com/img/bina-akrab.jpg">
    <meta name="author" content="UNKRISWINA SUMBA INFORMERS">
    <meta property="language" content="Indonesia">
    <meta content='Galeri Bina Akrab Teknik Informatika UNKRISWINA SUMBA 2019' name='keywords'/>    
  
 
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">   
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/lightgallery.min.css">    
    
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    
    <link rel="stylesheet" href="css/swiper.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">
    <link rel="stylesheet" href="vendors/popup/magnific-popup.css">
    <link rel="stylesheet" href="vendors/flaticon/flaticon.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style-meetme.css">
    <link rel="stylesheet" href="css/responsive.css">
    
    <style>
      /*Deskop layout*/
      @media (max-width: 992px) {
      }

      /*Tablet layout*/
      @media (max-width: 768px) {
      }


      /*Mobile layout*/
      @media (max-width: 576px) {
        .section-title {
          font-size: 14vw !important;
        }
      }
    </style>
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



   
    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="/" class="text-black h2 mb-0">BinaAkrab TIF'19 UNKRISWINA SUMBA</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="/">Home</a></li>
                <li class="has-children">
                  <a href="#">Galeri</a>
                  <ul class="dropdown">
                    <li><a href="/galeri/perwalian-pak-jefonses">Perwalian Pak Jefonses</a></li>
                    <li><a href="/galeri/perwalian-pak-pingky">Perwalian Pak Pingky</a></li>
                    <li><a href="/galeri/perwalian-pak-ian">Perwalian Pak Ian</a></li>
                    <li><a href="/galeri/perwalian-pak-fajar">Perwalian Pak Fajar</a></li>
                    <li><a href="/galeri/perwalian-pak-alan">Perwalian Pak Alan</a></li>
                    <li><a href="/galeri/perwalian-ibu-arini">Perwalian Ibu Arini</a></li>
                    <li><a href="/galeri/perwalian-ibu-yustina">Perwalian Ibu Yustina</a></li>
                    <li><a href="/galeri/perwalian-ibu-mea">Perwalian Ibu Mea</a></li>
                    <li><a href="/galeri/perwalian-ibu-desy">Perwalian Ibu Desy</a></li>
                    <li><a href="/galeri/all-game">Games</a></li>
                    <li><a href="/galeri/other-images">Lain-lain</a></li>
                  </ul>
                </li>
                <li class="active"><a href="/agenda">Agenda</a></li>
                <li><a href="/daftar-panitia">Panitia</a></li>
                <li><a href="/about">Tentang Bina Akrab TIF'19</a></li>
                <li><a href="/contact">Kontak</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="https://www.facebook.com/infoprom.unkriswina" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/unkriswina_sumba_timur/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/channel/UCDt7aHjK2SpQT0-TDYgaemQ" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                </li>

              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>


 

     <section class="mytabs_area p_100">
          <div class="container">
            <h1 class="display-4 section-title text-center text-black mb-5"> Agenda Bina Akrab - TIF'19</h1>
            <div class="tabs_inner">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <ul class="list">
                <li>
                  <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>Sabtu 30 November 2019</p>
                    </div>
                    <div class="media-body">
                      <h4>Pembukaan</h4>
                      <p>Pembuka Pelaksanaan kegiatan Bina Akrab Teknik Informatika 2019<br />Pantai Laipori, Waingapu</p>
                    </div>
                  </div>
                </li>

                <li>
                  <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>Sabtu 30 November 2019</p>
                    </div>
                    <div class="media-body">
                      <h4>Doa</h4>
                      <p>Doa Pembuka Pelaksanaan kegiatan Bina Akrab<br />Pantai Laipori, Waingapu</p>
                    </div>
                  </div>
                </li>
                <li>
                  <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>Sabtu 30 November 2019</p>
                    </div>
                    <div class="media-body">
                      <h4>Sambutan Kaprodi dan Perkenalan</h4>
                      <p>Sambutan Kepala Prodi Teknik Informatika UNKRISWINA dan Pengenalan Staf dan dosen Teknik Informatika UNKRISWINA <br />Pantai Laipori, Waingapu</p>
                    </div>
                  </div>
                </li>
                <li>
                <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>Sabtu 30 November 2019</p>
                    </div>
                    <div class="media-body">
                      <h4>Pemilihan Ketua HMTI</h4>
                      <p>Pemilihan Ketua Himpunan Mahasiswa Teknik Informatika (HMTI) UNKRISWINA Tahun 2019/2020 <br />Pantai Laipori, Waingapu</p>
                    </div>
                  </div>
                </li>
                <li>
                <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>Sabtu 30 November 2019</p>
                    </div>
                    <div class="media-body">
                      <h4>Perwalian</h4>
                      <p>Perwalian setiap mahasiswa/mahasiswa teknik informatika kepada dosen wali masing-masing <br />Pantai Laipori, Waingapu</p>
                    </div>
                  </div>
                </li>
                <li>
                <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>Sabtu 30 November 2019</p>
                    </div>
                    <div class="media-body">
                      <h4>Games</h4>
                      <p>Bermain games oleh seluruh peserta Bina Akrab <br />Pantai Laipori, Waingapu</p>
                    </div>
                  </div>
                </li>                
                <li>
                <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>Sabtu 30 November 2019</p>
                    </div>
                    <div class="media-body">
                      <h4>Makan Siang</h4>
                      <p>Makan siang bersama oleh seluruh peserta Bina Akrab<br />Pantai Laipori, Waingapu</p>
                    </div>
                  </div>
                </li>
                <li>
                <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>Sabtu 30 November 2019</p>
                    </div>
                    <div class="media-body">
                      <h4>Acara Bebas</h4>
                      <p>Acara bebas Bina Akrab Prodi Teknik Informatika 2019<br />Pantai Laipori, Waingapu</p>
                    </div>
                  </div>
                </li>
                <li>
                <span></span>
                  <div class="media">
                    <div class="d-flex">
                      <p>Sabtu 30 November 2019</p>
                    </div>
                    <div class="media-body">
                      <h4>Doa Penutup</h4>
                      <p>Doa Penutup Bina Akrab Prodi Teknik Informatika 2019<br />Pantai Laipori, Waingapu</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
            </div>
          </div>
        </section>

  <div class="footer py-4 text-center">
    <div class="container-fluid">
      <p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a> Develop by UNKRISWINA SUMBA INFORMERS
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>

    

    
    
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/swiper.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/picturefill.min.js"></script>
  <script src="js/lightgallery-all.min.js"></script>
  <script src="js/jquery.mousewheel.min.js"></script>

  <script src="js/main.js"></script>

  <!-- <script src="js/stellar.js"></script>
  <script src="vendors/lightbox/simpleLightbox.min.js"></script>
  <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
  <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
  <script src="vendors/isotope/isotope.pkgd.min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
  <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
  <script src="vendors/counter-up/jquery.counterup.min.js"></script>
   -->
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>
    
  </body>
</html>